*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#top{
    height: 80px;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7rem;
    padding-right: 6rem;
}
#right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#in{
    display: flex;
    flex-direction: row;
}
#middle{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url('https://www.mercedes-benz.co.in/content/dam/retail/india/dreamdays_banner.jpg/1756814273488.jpg?im=Crop,rect=(1342,21,2471,1648);Resize=(1534,1023)');
    background-size: cover; /* zooms and fills the box */
  background-position: center; /* choose which part stays visible */
  background-repeat: no-repeat;
  overflow: visible;
  display: flex;
  gap: 2rem;
   margin: auto;
  margin-bottom: 60px;
    
}
#middle::before{
    content: " ";
    position: absolute;
    inset: 1;
    background: rgba(0, 0, 0, 0.6);
}
.stickyBox{
    position: sticky;
   z-index: 10;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
#b1{
    height: 60px;
    width: 160px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
}
#b2{
    background-color: #fff;
    height: 60px;
    width: 160px;
    border: solid 1px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#b3{
    background-color: #fff;

    height: 60px;
    width: 160px;
    border: solid 1px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#big{
    width: 50%;
    padding: 100px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}
#head{
    font-size: 4rem;
    color: white;
    opacity: 1;
    font-weight: 500;
}
#para1{
    color: white;
    font-size: 20px;
}
#learn{
    background-color: #007bff; 
    color: white;             
    border: none;                
    border-radius: 5px;       
    font-size: 1rem;             
    cursor: pointer;            
    text-decoration: none;      
    display: inline-block;     
    transition: background-color 0.3s ease;
    height: 40px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
 
   
}
#learn:hover{
    background-color: rgb(50, 50, 141);
}
#cars{
    
    padding-left: 5rem;
    padding-right: 3rem;
    padding-top: 30px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#row1{
    display: flex;
    gap: 1rem;
    
}
#card1{
    height:575px;
    width: 750px;
    background-color: black;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border: none;
    border-radius: 5px;
}
#card1 img{
    transition: transform 0.3s ease;
}
#card1 img :hover{
    transform: scale(1.2);
}
#card2{
    height:575px;
    width: 375px;
    background-color: black;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    border: none;
    border-radius: 5px;
}
#card4{
    height:575px;
    width: 375px;
    background-color: black;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    border: none;
    border-radius: 5px;
}
#insideblack{
    padding-left: 1.5rem;
    padding-bottom: 20px;
    padding-top: 10px;
     display: flex;
    gap: 10px;
    flex-direction: column;
}
#button{
    background-color: #026bdc; 
    color: white;             
    border: none;                
    border-radius: 2px;       
    font-size: 20px;             
    cursor: pointer;            
    text-decoration: none;      
    display: inline-block;     
    transition: background-color 0.3s ease;
    height: 50px;
    width: 170px;
    text-align: center;
    padding-top: 10px;
}
#learnmore{
    /* text-decoration: none; */
    color: white;
    font-size: 20px;
}
#button2{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
#row2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#card3{
    height:575px;
    width: 367px;
    background-color: black;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    border: none;
    border-radius: 5px;
}
#luxury{
    padding: 60px;
    margin: 20px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
#para{
    max-width: 80%;
    font-size: 50px;
    color: #000;
}
#anchor{
    display: flex;
    gap: 2rem;
}
#discover{
    height: 50px;
    width: 200px;
    border: #a6a4a4 solid 0.1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: bold;
}
#first {
    height: 30px;
    width: 500px;
    background: #f3f6f8;
    padding: 60px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


#subheading {
    font-size: 16px;
    opacity: 100%;
    color: #2a2a2a;
    /* margin: 0 0 12px 0; */
    letter-spacing: .5px;
}

h1 {
    font-size: 34px;
    /* margin: 0; */
    font-weight: 500;
    color: #000;
}
#hoverimg {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#hoverimg img {
    width: 100%;
    max-width: 480px;
    transition: transform .4s ease;
}
#first:hover #hoverimg img {
  transform: scale(1.05);
}
#cant{
    height: 120px;
    width: 1125px;
    background: #f4f2f2;
    margin-left: 80px;
    margin-top: 40px;
    display: flex;
}
#written{
    height: 100%;
    width: 70%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 30px;
    gap: 1rem;
    font-size: 20px;
    /* align-items:center; */
}
#showsize{
    width: 30%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#show{
    height: 55px;
    width: 300px;
    background-color: #0668d1;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 2px;
}
.boxes3{
    display: flex;
    justify-content: space-around;
}
#box1{
    height: 490px;
    width: 347px;
    border: solid 1px rgb(243, 239, 239);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: gray;
    box-shadow: 2px 2px 2px 0.5px gray;

}
#box1 h2{
    padding: 10px;
}
.data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#specification{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.sp{
    height: 20px;
    background-color: rgb(201, 199, 199);
    border-radius: 20px;
}
#box1 img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 231, 231);
    height: 60px;
    width: 300px;
    border: solid 2px rgb(248, 171, 28);
    border-radius: 5px;
}
#box2{
    height: 555px;
    width: 347px;
    border: solid 1px grey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#box2 img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
#box3{
    height: 555px;
    width: 347px;
    border: solid 1px grey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#box3 img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
#bottomBt{
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
    width: 317px;
    background-color: #fff;
    color: #0668d1;
    font-size: large;

}
#bottomBt:hover{
    background-color: rgb(224, 222, 222);
}
.service{
    display: flex;
    padding: 60px;
    font-size: xx-large;
}


